<div class="card" data-playthrough-id='{{playthrough.id}}'>
  <div class="card-header">
    <strong>
      {{scriptTitle}} {{playthrough.departureName}} {{playthrough.title}} as {{participant.roleName}}
    </strong>
    {{directiveText}}
    {{#unless isFirst}}
    <a href='' data-playthrough-id='{{playthrough.id}}' data-page-name='{{page.name}}' data-ui='show-appearance'>Show now</a>
    {{/unless}}
  </div>
  <div class="card-body" data-playthrough-id='{{playthrough.id}}' data-page-name="{{page.name}}" style="display: {{#if isFirst}}block{{else}}none{{/if}};">
    {{#each panels}}
      {{> (lookup . 'type')}}
    {{/each}}
  </div>
</div>
