<div class="card" data-playthrough-id='{{playthrough.id}}'>
  <div class="card-header">
    <strong>
      {{playthrough.departureName}} {{playthrough.title}}
    </strong>
    {{appearance.title}} {{appearanceDisabledStart}}
    {{#unless isFirst}}
    <a href='' data-playthrough-id='{{playthrough.id}}' data-page-name='{{page.name}}' data-ui='show-appearance'>Show now</a>
    {{/unless}}
  </div>
  <div class="card-body" data-playthrough-id='{{playthrough.id}}' data-page-name="{{page.name}}" style="display: {{#if isFirst}}block{{else}}none{{/if}};">
    <p class='card-text'>
      {{appearanceDisabledIntro}}
    </p>
    <p class='card-text'>
      <div class='alert alert-warning'>
        {{appearanceDisabledMessage}}
      </div>
    </p>
  </div>
</div>
