<div class="card" data-trip-id='{{tripId}}'>
  <div class="card-header">
    <strong>
      {{experienceTitle}} {{tripTitle}} as {{roleTitle}}
    </strong>
    {{directiveText}}
    {{#unless isFirst}}
    <a href='' data-trip-id='{{tripId}}' data-page-name='{{pageName}}' data-ui='show-appearance'>Show now</a>
    {{/unless}}
  </div>
  <div class="card-body" data-trip-id='{{tripId}}' data-page-name="{{pageName}}" style="display: {{#if isFirst}}block{{else}}none{{/if}};">
    {{#each panels}}
      {{> (lookup . 'panelPartial')}}
    {{/each}}
  </div>
</div>
