<p class="card-text">
  {{#if isPageActive}}
    <a href="#" data-event='button_pressed' data-params='{ "button_id": {{panelId}}, "role_name": "{{roleName}}" }' data-trip-id='{{tripId}}' class="btn btn-primary btn-block">{{text}}</a>
  {{else}}
    <button class="btn btn-primary btn-block" disabled>
      <span style="text-decoration: line-through">{{text}}</span>
      (Waiting for scene "{{sceneTitle}}")
    </button>
  {{/if}}
</p>
