{{#if hasAudio}}
  <i class='fa fa-music'></i>
  {{audioTitle}} &bull;
  {{#if audioIsLoading}}
    Loading
  {{else}}
    {{#if audioIsPlaying}}
      {{#if audioHasEnded}}
        Ended
        &bull;
        <a style="cursor: pointer;" {{action "restartAudio"}}>Restart</a>
      {{else}}
        {{audioElapsed}}
        &bull;
        {{#if mute}}
          <a style="cursor: pointer;" {{action "mute"}}>Unmute</a>
        {{else}}
          <a style="cursor: pointer;" {{action "mute"}}>Mute</a>
        {{/if}}
      {{/if}}
    {{else}}
      Paused
    {{/if}}
  {{/if}}
{{else}}
  Nothing playing
{{/if}}
