{{#if hasAudio}}
  <i class='fa fa-music'></i>
  {{audioTitle}} &bull;
  {{#if audioIsPlaying}}
    {{#if audioHasEnded}}
      Ended
      &bull;
      <a style="cursor: pointer;" {{action "restartAudio" on="touchStart"}} {{action "restartAudio"}}>Restart</a>
    {{else}}
      {{audioElapsed}}
      &bull;
      {{#if mute}}
        <a style="cursor: pointer;" {{action "mute" on="touchStart"}} {{action "mute"}}>Unmute</a>
      {{else}}
        <a style="cursor: pointer;" {{action "mute" on="touchStart"}} {{action "mute"}}>Mute</a>
      {{/if}}
    {{/if}}
  {{else}}
    paused
  {{/if}}
{{else}}
  Nothing playing
{{/if}}
