<div class='page-panel-content-browse pure-g'>
  <div class='content-list pure-u-1-4'>
    <div class='pure-menu'>
      <div class='pure-menu-heading'>{{params.title}}</div>
      <ul class='pure-menu-list'>
        {{#each menu as |item|}}
          <li class="pure-menu-item {{if item.isSelected "pure-menu-selected"}}">
            <a href='#' {{action "selectItem" item.name}} class='pure-menu-link'>
              {{item.title}}
            </a>
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
  <div class='content-detail pure-u-3-4 scrollable'>
    <div class='content-detail-inner'>
      {{page-panels
        trip=trip
        player=player
        panels=selectedPanels}}
    </div>
  </div>
</div>
