{{#unless isBrowserSupported}}
  <div class='room-item room-message'>{{browserMessage}}</div>
{{else}}
  {{#unless hasReceivedInput}}
    <div class='room-item room-button'>
      <button
        class='pure-button pure-button-primary pure-button-block'
        style='padding: 2em'
        {{action "enterRoom"}}>
        Enter room ({{enterDescription}})
      </button>
    </div>
  {{else}}
    {{page-panels/internal/room
      panelId=panelId
      useVideo=useVideo
      shouldTransmit=shouldTransmit
      token=trip.videoToken
      roomId=roomId}}
  {{/unless}}
{{/unless}}