<div class='application-debug-console pure-g'>
  <div class='pure-u-4-5' style="padding: 0.5em;">
    {{#if lastRefreshedLocal}}
      <span class='text-padded'>
        {{#if trip.awaitingRefreshAt}}
          Awaiting refresh
        {{else}}
          Refreshed {{lastRefreshedLocal}}
        {{/if}}
      </span>
    {{/if}}

  </div>
  <div class='pure-u-1-5'>
    <form class='pure-form pure-g'>
      <select class='pure-input-1' onchange={{action "goToWaypoint" value="target.value"}}>
        <option value=''>Go to:</option>
        {{#each waypointOptions as |waypointOption|}}
        <option value='{{waypointOption.name}}'>
          {{#if waypointOption.location.title}}
            {{waypointOption.location.title}}
          {{else}}
            {{waypointOption.location.address}}
          {{/if}}
        </option>
        {{/each}}
      </select>
    </form>
  </div>
</div>
