<div class='application-debug-console pure-g'>
  <div class='pure-u-4-5' style="padding-top: 0.5em; padding-bottom: 0.5em;">
    <span class='text-padded'>
      {{#if lastRefreshedLocal}}
        <i class="fa fa-cloud-download" />
        {{#if trip.awaitingRefreshAt}}
          Awaiting
        {{else}}
          {{lastRefreshedLocal}}
        {{/if}}
      {{/if}}
      
      <i class="fa fa-location-arrow" />
      {{#if location.lastErrorTitle}}
        {{location.lastErrorTitle}}
      {{else}}
        {{lastFixTimestampLocal}}
      {{/if}}
    </span>

    (You are logged into Charter: not transmitting location or acknowledging pages.)

  </div>
  <div class='pure-u-1-5'>
    <form class='pure-form pure-g'>
      <select
        disabled={{isSetLocationDisabled}}
        class='pure-input-1'
        onchange={{action "goToWaypoint" value="target.value"}}>
        <option value=''>Go to:</option>
        {{#each waypointOptions as |waypointOption|}}
        <option value='{{waypointOption.name}}'>
          {{waypointOption.title}}
        </option>
        {{/each}}
      </select>
    </form>
  </div>
</div>
