<div class='application-debug-console pure-g'>
  <div class='pure-u-4-5' style="padding: 0.5em;">
    <span class='text-padded sync-status-{{ if sync.online "online" "offline"}}'>
      {{if sync.inprogress "syncing" "idle"}},
      queue: {{sync.queue.length}},
      api: {{api.apiRequestsInProgress}}
    </span>

    {{#if lastRefreshedLocal}}
      <span class='text-padded'>
        {{#if trip.awaitingRefreshAt}}
          Awaiting refresh
        {{else}}
          Refreshed {{lastRefreshedLocal}}
        {{/if}}
      </span>
    {{/if}}

  </div>
  <div class='pure-u-1-5'>
    <form class='pure-form pure-g'>
      <select class='pure-input-1' onchange={{action "goToWaypoint" value="target.value"}}>
        <option value=''>Go to:</option>
        {{#each waypointOptions as |waypointOption|}}
        <option value='{{waypointOption.name}}'>
          {{waypointOption.title}}
        </option>
        {{/each}}
      </select>
    </form>
  </div>
</div>
