<div class='application-debug-console pure-g'>
  <div class='pure-u-4-5'>
    <span class='current-time text-padded'>
      {{localTime}}
    </span>

    <button class="pure-button {{if time.isPaused "" "pure-button-disabled"}}" {{action "resetTime"}}>reset</button>

    {{#if nextLocalUnappliedAction}}
      <button class='pure-button' {{action "toNextAction"}}>
        &raquo;
        {{nextActionScheduledAtLocal}}
        {{nextLocalUnappliedAction.name}}
      </button>
    {{/if}}

    <span class='text-padded'>
      ({{numLocalUnappliedActions}})
    </span>

    <span class='text-padded sync-status-{{ if sync.online "online" "offline"}}'>
      {{if sync.inprogress "syncing" "idle"}},
      queue: {{sync.queue.length}},
      api: {{api.apiRequestsInProgress}}
    </span>

    {{#if lastRefreshedLocal}}
      <span class='text-padded'>
        {{#if playthrough.awaitingRefreshAt}}
          Awaiting refresh
        {{else}}
          Refreshed {{lastRefreshedLocal}}
        {{/if}}
      </span>
    {{/if}}

  </div>
  <div class='pure-u-1-5'>
    <form class='pure-form pure-g'>
      <select class='pure-input-1' onchange={{action "goToWaypoint" value="target.value"}}>
        <option value=''>Go to:</option>
        {{#each waypointOptions as |waypointOption|}}
        <option value='{{waypointOption.name}}'>
          {{waypointOption.title}}
        </option>
        {{/each}}
      </select>
    </form>
  </div>
</div>
