{{#if debug}}
  {{render "debug"}}
{{/if}}

<div class='playthrough-container {{environmentClassName}} {{scriptClassName}}'>
  {{sync-status}}
  {{admin-target action="goToAdmin"}}

  <div class="environment-header">{{headerTitle}}</div>
  <div class='ios-padding'></div>

  {{outlet}}
</div>
