<nav class="navbar navbar-light bg-faded">
  <a class="navbar-brand" href="/actor/{{orgName}}">
    {{orgTitle}} Performer Interface
  </a>
</nav>
<div class="container-fluid">
  <br/>
  {{#each groups}}
    <h3>{{experienceTitle}} - {{groupDate}}</h3>
    {{#each groupParticipants}}
      <a
        class='btn btn-block btn-outline-secondary'
        href='/actor/{{@root/orgName}}/participant/{{id}}'>
        {{name}} ({{roleTitles}})
      </a>
    {{else}}
      <p>No performers are active in this run group.</p>
    {{/each}}
  {{else}}
    <p>No run groups with performers are active.</p>
  {{/each}}
</div>
