<nav class="navbar navbar-light bg-faded">
  <a class="navbar-brand" href="/actor/{{orgName}}">
    {{orgTitle}} Actor Interface
  </a>
</nav>
<div class="container-fluid">
  <br/>
  {{#each participants}}
    <a
      class='btn btn-block btn-outline-secondary'
      href='/actor/{{@root/orgName}}/participant/{{id}}'>
      {{experienceTitle}}: {{name}} ({{roleTitles}})
    </a>
  {{/each}}
</div>
